* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
}
body {
    font-family: 'Mulish', sans-serif;
    background: linear-gradient(#04E474, #0AA9CF);
    /* height: 100vh; */
}
header {
    display: flex;
    justify-content: flex-start;
}
.logo img {
    margin: 10px;
    width: 150px;
    height: 50px;
}
.register {
    width: 100%;
    height: auto;
}
.register__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-width: 320px;
    max-width: 700px;
    height: 600px;
    margin: 70px auto;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #fff;
    border-radius: 40px;
}
.register__container-title {
    font-size: 3.5rem;
    color: #fff;
}
.register__container form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 90%;
    font-size: 2rem;
}
::placeholder {
    color: #fff;
    /* margin-left: 10px; */
}
.in-text, .in-button {
    width: 100%;
    height: 40px;
    font-size: 2rem;
    margin: 20px 0;
    padding: 0 10px;
    background-color: inherit;
    border: none;
}
.in-text {
    border-bottom: 2px solid #fff;
    outline: none;
}
.in-button {
    margin: 7.5px auto;
    background-color: #ffffff55;
    border-radius: 25px;
    color: #fff;
}
.login {
    margin-top: 50px;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.login:hover {
    text-decoration: underline;
    color: #E4E4E4;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    flex-wrap: wrap;
}
footer a {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
}
footer a:hover {
    text-decoration: underline;
}